<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/blog/main.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <script src="https://kit.fontawesome.com/388d3d70ac.js" crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-61DL9CW3XV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-61DL9CW3XV');
</script>
<body>
  <h1>{{ page.title }}</h1>
  {% assign d = page.date | date: "%-d" %}
  <h3>{% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %} {{ page.date | date: "%B %Y" }}</h3>
  <br><br>
  {{ content }}
</body>
</html>
